Phone1/Service References/JolTudomEService/WSService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NewTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfNewTestQuestion" />
      <xs:element minOccurs="0" name="TestID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewTest" nillable="true" type="tns:NewTest" />
  <xs:complexType name="ArrayOfNewTestQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewTestQuestion" nillable="true" type="tns:NewTestQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewTestQuestion" nillable="true" type="tns:ArrayOfNewTestQuestion" />
  <xs:complexType name="NewTestQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answers" nillable="true" type="tns:ArrayOfNewTestQuestAnswer" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewTestQuestion" nillable="true" type="tns:NewTestQuestion" />
  <xs:complexType name="ArrayOfNewTestQuestAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewTestQuestAnswer" nillable="true" type="tns:NewTestQuestAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewTestQuestAnswer" nillable="true" type="tns:ArrayOfNewTestQuestAnswer" />
  <xs:complexType name="NewTestQuestAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerID" type="xs:int" />
      <xs:element minOccurs="0" name="AnswerText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewTestQuestAnswer" nillable="true" type="tns:NewTestQuestAnswer" />
</xs:schema>