JolTudomE_Client/Service References/JolTudomEWSService/WSService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="JolTudomEWS.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="JolTudomEWS.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="JolTudomEWS.org/Imports">
      <xsd:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd0" namespace="JolTudomEWS.org" />
      <xsd:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.DAL" />
      <xsd:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="JolTudomEWS_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetTestDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestDetails" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetTestDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_CancelTest_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelTest" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_CancelTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelTestResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopics" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetTopics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_NewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_NewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_StartTest_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTest" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_StartTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTestResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_CheckAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAnswer" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_CheckAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_AddNewCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCourse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_AddNewCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCourseResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_EditCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCourse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_EditCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCourseResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_AddNewTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTopic" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_AddNewTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTopicResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_EditTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTopic" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_EditTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTopicResponse" />
  </wsdl:message>
  <wsdl:portType name="JolTudomEWS">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/Login" message="tns:JolTudomEWS_Login_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/LoginResponse" message="tns:JolTudomEWS_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/Logout" message="tns:JolTudomEWS_Logout_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/LogoutResponse" message="tns:JolTudomEWS_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetStatistics" message="tns:JolTudomEWS_GetStatistics_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetStatisticsResponse" message="tns:JolTudomEWS_GetStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestDetails">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetTestDetails" message="tns:JolTudomEWS_GetTestDetails_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetTestDetailsResponse" message="tns:JolTudomEWS_GetTestDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelTest">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/CancelTest" message="tns:JolTudomEWS_CancelTest_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/CancelTestResponse" message="tns:JolTudomEWS_CancelTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetCourses" message="tns:JolTudomEWS_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetCoursesResponse" message="tns:JolTudomEWS_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopics">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetTopics" message="tns:JolTudomEWS_GetTopics_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetTopicsResponse" message="tns:JolTudomEWS_GetTopics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/NewUser" message="tns:JolTudomEWS_NewUser_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/NewUserResponse" message="tns:JolTudomEWS_NewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTest">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/StartTest" message="tns:JolTudomEWS_StartTest_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/StartTestResponse" message="tns:JolTudomEWS_StartTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAnswer">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/CheckAnswer" message="tns:JolTudomEWS_CheckAnswer_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/CheckAnswerResponse" message="tns:JolTudomEWS_CheckAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetUsers" message="tns:JolTudomEWS_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/GetUsersResponse" message="tns:JolTudomEWS_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCourse">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/AddNewCourse" message="tns:JolTudomEWS_AddNewCourse_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/AddNewCourseResponse" message="tns:JolTudomEWS_AddNewCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCourse">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/EditCourse" message="tns:JolTudomEWS_EditCourse_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/EditCourseResponse" message="tns:JolTudomEWS_EditCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewTopic">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/AddNewTopic" message="tns:JolTudomEWS_AddNewTopic_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/AddNewTopicResponse" message="tns:JolTudomEWS_AddNewTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTopic">
      <wsdl:input wsaw:Action="JolTudomEWS.org/JolTudomEWS/EditTopic" message="tns:JolTudomEWS_EditTopic_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomEWS.org/JolTudomEWS/EditTopicResponse" message="tns:JolTudomEWS_EditTopic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>