resttest/Service References/RestService/RestService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.DAL" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JolTudomE_WS.DAL" minOccurs="0" name="PersonDetails" nillable="true" type="q1:PersonDetails" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
</xs:schema>