resttest/Service References/RestService/RestService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="JolTudomERest.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="JolTudomERest.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="JolTudomERest.org/Imports">
      <xsd:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd0" namespace="JolTudomERest.org" />
      <xsd:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" />
      <xsd:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.DAL" />
      <xsd:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="JolTudomEWS_Proba_InputMessage">
    <wsdl:part name="parameters" element="tns:Proba" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_Proba_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProbaResponse" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="JolTudomEWS_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="JolTudomEWS">
    <wsdl:operation name="Proba">
      <wsdl:input wsaw:Action="JolTudomERest.org/JolTudomEWS/Proba" message="tns:JolTudomEWS_Proba_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomERest.org/JolTudomEWS/ProbaResponse" message="tns:JolTudomEWS_Proba_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="JolTudomERest.org/JolTudomEWS/Login" message="tns:JolTudomEWS_Login_InputMessage" />
      <wsdl:output wsaw:Action="JolTudomERest.org/JolTudomEWS/LoginResponse" message="tns:JolTudomEWS_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>