resttest/Service References/RestService/RestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="JolTudomERest.org" elementFormDefault="qualified" targetNamespace="JolTudomERest.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52323/RestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" />
  <xs:element name="Proba">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vmi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JolTudomE_WS.Model" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>