wstest/Service References/ServiceReference1/WSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/JolTudomE_WS.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JolTudomE_WS.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://localhost:52323/WSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoggedInUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:int" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoggedInUser" nillable="true" type="tns:LoggedInUser" />
  <xs:complexType name="ArrayOfStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statistics" nillable="true" type="tns:Statistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatistics" nillable="true" type="tns:ArrayOfStatistics" />
  <xs:complexType name="Statistics">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CorrectAnswer" type="xs:int" />
          <xs:element minOccurs="0" name="Generated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Percent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TestID" type="xs:int" />
          <xs:element minOccurs="0" name="TotalTime" nillable="true" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Statistics" nillable="true" type="tns:Statistics" />
  <xs:complexType name="ArrayOfTestDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestDetails" nillable="true" type="tns:TestDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestDetails" nillable="true" type="tns:ArrayOfTestDetails" />
  <xs:complexType name="TestDetails">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChekedAnswer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CorrectAnswer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestDetails" nillable="true" type="tns:TestDetails" />
  <xs:complexType name="ArrayOfCourses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Courses" nillable="true" type="tns:Courses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourses" nillable="true" type="tns:ArrayOfCourses" />
  <xs:complexType name="Courses">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CourseDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourseID" type="xs:int" />
          <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Courses" nillable="true" type="tns:Courses" />
  <xs:complexType name="ArrayOfTopics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Topics" nillable="true" type="tns:Topics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopics" nillable="true" type="tns:ArrayOfTopics" />
  <xs:complexType name="Topics">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="TopicDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopicID" type="xs:int" />
          <xs:element minOccurs="0" name="TopicName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Topics" nillable="true" type="tns:Topics" />
</xs:schema>